.pagination {
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: center;
  gap: 12px;
}

.pageNumber {
  padding: 8px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}


.pageNumber,.arrow {
  border: none;
  background-color: white;
  cursor: pointer;
}

.pageNumber:disabled ,
.arrow:disabled {
  cursor: default;
}